* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

input:focus {
  outline: none;
}

.app {
  display: grid;
  place-items: center;
  /* background-color: #b3f8b7; */
  /* background: url("./WhatsApp-Background-Wallpaper-72.jpg"); */
  background: url("./Wallpaper-4k.jpg");
  background-size: contain;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  /* margin-top: -50px; */
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}
